.card {
  display: flex;
  flex-direction: column;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 36px 0 48px 0;
  margin: 0;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  max-width: 219px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
