.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}

.modal__opened {
  /* position: fixed;*/
}

.modal__close {
  border: none;
  background-color: transparent;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__heading {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0);
  width: 330px;
  height: 23px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: auto;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input_title {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding-bottom: 13.26px;
  position: relative;
}

.modal__input_description {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  margin-top: 29.74px;
  padding-bottom: 13.26px;
  position: relative;
}

.modal__button {
  margin-top: 48px;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0);
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .modal {
    max-width: 320px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: -45px;
  }
}
